:host {
  display: block;

  > * {
    height: 3.75rem;
    width: 100%;
    box-sizing: border-box;
  }

  #input {
    padding: 0 1rem;
  }

  #btn {
    margin: 1.5rem auto 0;

    ::slotted(*) {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.813rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
