@import './pallete-colors.scss';


.primary {
    color: $primary-static;
}

.secondary {
    color: $secondary-static;
}

.tertiary {
    color: $tertiary-static;
}

.light {
    color: $light;
}

.dark {
    color: $dark;
}

.gray {
    color: $gray;
}

.error {
    color: $error;
}

.warning {
    color: $warning;
}

.info {
    color: $info;
}

.success {
    color: $success;
}