$primary-static: #ff731d;
$primary-hover: #e6681a;

$secondary-static: #125D98;
$secondary-hover: #105489;

$tertiary-static: #222831;
$tertiary-hover: #1f242c;

$light: #f8f9fa;
$dark: #343a40;
$gray: #c0bfbf;

$error: #FE5F55;
$warning: #FADB3F;
$info: #24BDDF;
$success: #5DC0A6;