:host {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  
  input {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 0;
    border: 0;
    
    &:focus-visible {
      outline: none;
    }
  }

  span {
    @include xs-body;
  }
}

:host(.status.error) {
  color: $error;

  input {
    border: 1px solid $error;
  }
}

:host(.status.info) {
  color: $info;

  input {
    border: 1px solid $info;
  }
}

:host(.status.success) {
  color: $success;

  input {
    border: 1px solid $success;
  }
}

:host(.status.warning) {
  color: $warning;

  input {
    border: 1px solid $warning;
  }
}