:host {
  height: 3.75rem;
  width: 100%;
  display: block;
  
  button {
    border-radius: inherit;
    padding: inherit;
    margin: inherit;
    display: block;
    cursor: pointer;
    border: none;
    height: 100%;
    width: 100%;

    &:disabled {
      opacity: 0.5;
    }
  }

  span {
    @include xs-body;
    text-transform: uppercase;
    font-weight: $bolder;
  }
}
