:host {
  display: block;

  > * {
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
  }

  #btn {
    margin: 1.5rem auto 0;

    ::slotted(*) {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.813rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  @include sm {
    display: flex;

    #input {
      border-radius: 4px 0 0 4px;
      border: 1px solid #333;
      width: 21rem;
    }

    #btn {
      margin: 0;
      width: 7.5rem;
      border-radius: 0 4px 4px 0;
    }
  }
}
