
@mixin genTextColors {
  @each $name, $col in $static {
    &.#{$name} {
      color: $col;
    }
  }
  
  @each $hn, $hcol in $hover {
    &.hover:#{$hn} {
      &:hover {
        color: $hcol;
      }
    }
  }
}


:host {
  display: block;
  @include genTextColors;
  
}
